body {
  margin: 10px 16%;
  text-align: center;
  background-color: #F3F3F3;
  font-family: sans-serif;
}

.header {
  margin: 10px auto 0 auto;
}

.title {
  margin-bottom: 3%;
}

.container h3 {
  font-size: 1.5rem;
  margin: 3%;
}

.description {
  line-height: 3rem;
  margin: 0%;
}

.container {
  padding: 5%;
  line-height: 2rem;
}

input {
  margin: 20px auto;
  display: block;
}
